{%extends 'base.html'%}
{%block title%}Add Todo{%endblock%}

{%block content%}
    <form method="POST">
        <div class="form-group">
            {%csrf_token%}
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="What's In Your Mind?">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success" style="margin-top:10px;">Add Todo</button>
        </div>
    </form>
{%endblock%}